.clear {
  clear: both;
}

.text-muted {
    text-align: right;
}

::selection {
  background-color: #b3eaff;
}

.box {
  background: #e6e6fa;
  border: 1px solid;
  border-color: #008080;
  border-radius: 3%;
  margin: 3px;
  padding: 5px;
}

#stack {
    text-align: center;
}